[Unit]
Description=PikpakDrive FUSE
After=network.target

[Service]
Type=simple
PermissionsStartOnly=true
ExecStartPre=/bin/mkdir -p /var/run/Pikpak-fuse -p /mnt/PikpakDrive
Environment="REFRESH_TOKEN="
ExecStart=/usr/bin/Pikpak-fuse --allow-other -w /var/run/Pikpak-fuse /mnt/PikpakDrive
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
